# Week 1 handin

## 01 Assignment


    1. Create 5 list comprehensions to solve the following 5 problems:
        a. Iterate a list of names to return a list of the names starting with H
        b. In one line create a list of the numbers 1-100 to the power of 3
        c. Iterate a list of names to create a list of tuples where the tuples first value is the length of the name                             and the second is the name
        d. Iterate over each character in a string and get only those that are nummeric
        e. Using only a list comprehension wrapped in set() get all possible combination from throwing 2 dice (hint use 2 for loops in a single list comprehension)

    2. Create 2 dictionary comprehensions to solve the following:
        a. Iterate a list of names and create a dictionary where key is the name and value is the length of the name
        b. Iterate a list of numbers and create a dictionary with {key:value} being {number:squareroot_of_number}

    3. Extra assignment (This one goes beyond what is covered in the course notebooks. So only do it if you want an extra challenge).
        Progammatically using loops create a small program to produce a dictionary with all the 2 dice throw combinations as keys and their likelyhood in percent as values

## 02 Status
I've completed both 1 and 2

## 03 Solution part 1

In [7]:
# 1.1 some code here with docstrings
names = ["Lyla-Rose Fisher",
         "Jaheim Williams",
         "Kamal Callahan",
         "Henry Villanueva",
         "Amara Daly",
         "Malcolm Wade",
         "Dean Thatcher",
         "Hannah Cairns",
         "Terence Colley",
         "Oskar Espinosa"]
new_list = [value for value in names if value.startswith("H")]
print(new_list)

['Henry Villanueva', 'Hannah Cairns']

In [8]:
# 1.2 some code here with docstrings
newer_liste = [pow(value,3) for value in range(1,101)]

print(newer_liste)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [10]:
# 1.3
tuplesList = []
for name in names: 
    tuplesList.append((len(name),name))
print(tuplesList)

[(16, 'Lyla-Rose Fisher'), (15, 'Jaheim Williams'), (14, 'Kamal Callahan'), (16, 'Henry Villanueva'), (10, 'Amara Daly'), (12, 'Malcolm Wade'), (13, 'Dean Thatcher'), (13, 'Hannah Cairns'), (14, 'Terence Colley'), (14, 'Oskar Espinosa')]

In [11]:
# 1.4

password = "1a2b3c4d5e"
nummeric_list = [char for char in password if char.isdigit()]

print(nummeric_list)

['1', '2', '3', '4', '5']

In [14]:
# 1.5
#new_set = set([first + secound for first in range(1,7) for secound in range(1,7)])
new_set = set([str(first)+','+str(secound) for first in range(1,7) for secound in range(1,7)])
print(new_set)

{'6,3', '3,1', '1,1', '2,4', '4,5', '1,4', '2,3', '6,6', '6,5', '6,4', '5,2', '3,5', '3,6', '4,3', '5,5', '5,6', '5,1', '1,6', '6,2', '4,4', '2,2', '4,6', '1,3', '2,1', '5,3', '3,4', '2,6', '4,1', '6,1', '2,5', '4,2', '3,2', '5,4', '1,2', '1,5', '3,3'}

## 04 Solution part 2

In [15]:
# 2.1
dict_variable = {name:len(name) for name in names}
print(dict_variable)

{'Lyla-Rose Fisher': 16, 'Jaheim Williams': 15, 'Kamal Callahan': 14, 'Henry Villanueva': 16, 'Amara Daly': 10, 'Malcolm Wade': 12, 'Dean Thatcher': 13, 'Hannah Cairns': 13, 'Terence Colley': 14, 'Oskar Espinosa': 14}

In [16]:
dict_var = {number: pow(number,2) for number in range(0,21)}
print(dict_var)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}